*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.claude/settings.json
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/tests/Browser/screenshots
/tests/Browser/videos
/tests/Browser/videos
/tests/Browser/dusk-output
/tests/Browser/*.webm
/tests/Browser/*.png
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/.kilo/kilo.jsonc
/ffmpeg.exe
/test_ffmpeg.php
tests/Browser/videos
tests/Browser/tests/Browser/videos